.wrapper-two {
  display: flex;
  margin-top: 600px;
  height: 900px;
  color: white;
  justify-content: center;
}

.about-container {

  justify-content: center;
  align-items: center;
}

.about-container h1 {
  font-size: 43px;
}

.about-cards {
  display: flex;
  gap: 20px;
}