.contact-section {
  display: flex;
  justify-content: center;
  padding: 4rem 1rem;

}

.contact-wrapper {
  max-width: 800px;
  width: 100%;
  text-align: center;
}

.contact-info h2 {
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.contact-info p {
  color: #bfbfbf;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.contact-list {
  list-style: none;
  display: flex;
  gap: 23px;
  padding: 0;
}

.contact-list li {
  margin-bottom: 1.5rem;
}

.contact-list a,
.contact-list span {
  color: #4a90e2;
  font-size: 1.5rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: color 0.3s ease;
}

.contact-list a:hover,
.contact-list span:hover {
  color: #357abf;
}