.experiences-wrapper {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 10em;

}

.experiences-sub-wrapper {
  display: flex;
  flex-direction: column;
}

.experiences-sub-wrapper h1 {
  font-size: 55px;
  text-align: left;
}

.card-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}


@media (max-width: 1500px) {
  .experiences-sub-wrapper {
    transform: scale(0.6);
  }
}


@media (max-width: 1000px) {
  .experiences-sub-wrapper {
    transform: scale(0.5);
  }
}

@media (max-width: 730px) {

  .card-div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}