@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');


.wrapper {
  display: flex;
  color: white;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  margin-top: 10em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.text-container {
  flex-direction: column;
  text-align: center;
  z-index: 2;
}

.text-container h1 {
  font-size: 71px;
}


.text-container button {
  margin-top: 3.5em;
  padding: 32px 54px;
  border: 2px solid transparent;
  border-image: linear-gradient(45deg, #00ff00, #ff33cc);
  /* Gradient border */
  border-image-slice: 1;
  background-color: rgba(0, 0, 0, 0.6);
  /* Slightly transparent background */
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
  border-radius: 8px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  cursor: pointer;
}

.text-container button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  /* Change background on hover */
  color: #00ff00;
  /* Change text color on hover */
  transform: scale(1.05);
  /* Slight scale-up on hover */
}

.text-container button a {
  text-decoration: none;
  color: white;
  font-family: "JetBrains Mono", monospace;
}


.great-span {
  background: linear-gradient(to right,
      #1eff00 20%,
      #03a700 30%,
      #70ff23 70%,
      #00b609 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 200% auto;
  /* Increase background size to allow animation */
  animation: textShine 5s ease-in-out infinite alternate;
}
.ale-span {
  background: rgb(41, 177, 3);
  background: linear-gradient(34deg, rgba(41, 177, 3, 1) 2%, rgba(48, 255, 201, 1) 49%, rgba(255, 184, 0, 1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 200% auto;
  /* Increase background size to allow animation */
  animation: textShine 5s ease-in-out infinite alternate;
}

@keyframes textShine {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100% 0;
  }
}

.text-container p {
  font-size: 22px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  line-height: 170%;
}

.billboard {
  position: absolute;
  top: 52%;
  opacity: 20%;
  color: black;
}

@media (max-width: 600px) {
  .img-container img {
    display: none;
  }

  .wrapper {
    display: flex;
    color: white;
    margin-top: 7em;
    gap: 0px;
    padding: 12px 12px;
  }   

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text-container h1 {
    font-size: 55px;
  }

  .text-container p {
    font-size: 16px;
    text-align: center;
  }

  .text-container button {
    margin-top: 3.5em;
    padding: 12px 34px;
    font-size: 16px;
  }

}


@media (max-width: 350px) {
  .text-container h1 {
    font-size: 51px;
  }
}