.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.15);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 47.5%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 40px;
  border-radius: 10px;
  color: white;
  backdrop-filter: blur(55px);
}

.modal-close-btn {
  float: right;
}

.modal-flex-container {
  display: flex;
  gap: 8em;
}

.modal-tech-stack {
  width: 300px;
}



.modal-detailed-description {
  width: 50%;
}



.modal-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-top: 20px;
}

.modal-grid-item {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.modal-grid-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-name {
  display: none;
  font-size: 15px;
  font-weight: 900;
  color: white;
  margin-top: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.modal-grid-item:hover .icon-name {
  display: block;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
}

.modal-grid-item svg {
  transition: filter 0.2s ease-in-out;
}

.modal-grid-item:hover svg {
  filter: blur(3px);
}


@media (max-width: 600px) {
  .modal-content {
    width: 80%;
    padding: 15px;
  }

  .modal-flex-container {
    flex-direction: column;
    gap: 1.5em;
  }

  .modal-detailed-description {
    width: 100%;
  }
  .modal-tech-stack {
    width: 100%;
  }

  .modal-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .modal-grid-item {
    padding: 5px;
    border-radius: 3px;
  }

  .modal-grid-item svg {
    width: 25px;
    height: 25px;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .modal-content {
    width: 80%;
    padding: 30px;
  }

  .modal-flex-container {
    flex-direction: row;
    gap: 4em;
  }

  .modal-tech-stack {
    width: 50%;
  }

  .modal-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 901px) and (max-width: 1200px) {
  .modal-content {
    width: 70%;
    padding: 35px;
  }

  .modal-flex-container {
    flex-direction: row;
    gap: 6em;
  }

  .modal-tech-stack {
    width: 45%;
  }

  .modal-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1201px) {
  .modal-content {
    width: 60%;
    padding: 40px;
    margin-top: 3em;
  }

  .modal-flex-container {
    flex-direction: row;
    gap: 8em;
  }

  .modal-tech-stack {
    width: 40%;
  }

  .modal-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}