.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.15);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 40px;
  border-radius: 10px;
  color: white;
  backdrop-filter: blur(15px);
}

.modal-close-btn {
  float: right;
}

.modal-flex-container {
  display: flex;
  gap: 8em;
}

.modal-tech-stack {
  width: 300px;
}

.modal-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-top: 20px;
}

.modal-grid-item {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}


@media (max-width: 600px) {
  .modal-content {
    width: 85%;
    padding: 15px;
  }

  .modal-flex-container {
    flex-direction: column;
    gap: 1.5em;
  }

  .modal-tech-stack {
    width: 100%;
  }

  .modal-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .modal-grid-item {
    padding: 5px;
    border-radius: 3px;
  }

  .modal-grid-item svg {
    width: 25px;
    height: 25px;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .modal-content {
    width: 80%;
    padding: 30px;
  }

  .modal-flex-container {
    flex-direction: row;
    gap: 4em;
  }

  .modal-tech-stack {
    width: 50%;
  }

  .modal-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 901px) and (max-width: 1200px) {
  .modal-content {
    width: 70%;
    padding: 35px;
  }

  .modal-flex-container {
    flex-direction: row;
    gap: 6em;
  }

  .modal-tech-stack {
    width: 45%;
  }

  .modal-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1201px) {
  .modal-content {
    width: 60%;
    padding: 40px;
  }

  .modal-flex-container {
    flex-direction: row;
    gap: 8em;
  }

  .modal-tech-stack {
    width: 40%;
  }

  .modal-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}