.projectCardContainer {
  background-color: rgba(0, 0, 0, 0.333);
  width: 50%;
  height: 10em;
  border-radius: 12px;
  padding: 12px 12px;
  display: flex;
  gap: 20px;
  color: white;
  transition: ease-in-out 0.30s;
  border: 1px solid gray;
}

.projectCardContainer:hover {
  transform: scale(1.1);
}

.upper-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 100;
}



.projectCardContainer img {
  width: 164px;
  height: 164px;
  border-radius: 12px;
}


.CardTextWrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
}


.CardTextWrapper p {
  margin: 0;
}

.project-info {
  
}