.projects-wrapper {
  margin-top: 10em;
  display: flex;
  align-items: center;  
  gap: 2em;
  justify-content: center;
  color: white;
  overflow: hidden;
}


.projects-wrapper h1 {
  font-size: 55px;
  font-family: "Open Sans", sans-serif;
  text-align: left;
}

.projects-group {
  display: flex;
  gap: 4em;
  align-items: center;
}

.projects-container, .tech-stack-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

@media (max-width: 1280px) {
  .projects-wrapper {
    padding: 40px;
  }

  .tech-stack-container {
    display: none;
  }
}

@media (max-width: 800px) {
  .projects-wrapper h1 {
      font-size: 40px;
      font-family: "Open Sans", sans-serif;
      text-align: left;
    }
  .projects-wrapper {
    margin-left: 0;
    padding-left: 60px;
  }
}


@media (max-width:  450px) {
  
}