.tech-container {  
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.333);
  border: 1px solid gray;
  border-radius: 12px;
  width: 400px;
  height: 185px;
  align-items: center;
  transition: ease-in-out 0.30s;
  
}

.tech-container:hover {
  transform: scale(1.1);
}

.tech-container h1 {
  font-size: 20px;
}

.icons-container {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 240px;
  gap: 20px;
  /* space between icons */
}

.icon-block {
    transition: ease-in-out 0.15s;
}

.icon-block:hover {
  transform: scale(1.2);
}


@media (max-width: 1200px) {
  .tech-container {
    display: none;
  }
}