.projects-wrapper {
  margin-top: 10em;
  padding: 64px 112px;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 2em;
  color: white;
  margin-left: 12em;
  justify-content: center;
}


.projects-wrapper h1 {
  font-size: 55px;
  font-family: "Open Sans", sans-serif;
  text-align: left;
}

.project-group {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 5em;
}


@media (max-width: 1000px) {
  .projects-wrapper {
    display: none;
  }
}