.wrapper-three {
  display: flex;
  margin-top: 20em;
  height: 900px;
  justify-content: center;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.wrapper-three h1 {
  font-size: 55px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 2em;

}

.skills-desc {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  gap: 300px;
}

.rotate {
  transform: rotate(-90deg);
}


.stack1, .stack2, .stack3 {
  display: flex;
  align-items: center;
  width: 400px;
}


.border-title {
  height: 20px;
  border-bottom: solid 1px white;
  padding: 10px;
}


.skill-list {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skill-list p {
  display: flex;
  gap: 10px;
  align-items: center;
}