.wrapper-three {
  display: flex;
  margin-top: 10em;
  height: 800px;
  justify-content: center;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.wrapper-three h1 {
  font-size: 55px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 2.5em;

}

.skills-desc {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  gap: 300px;
}

.rotate {
  transform: rotate(-90deg);
  transition: transform 0.3s ease;
}



.stack1, .stack2, .stack3 {
  display: flex;
  align-items: center;
  width: 400px;
  transition: transform 0.3s ease-in-out, flex-direction 0.3s ease;
  font-size: 20px;
}

.stack1:hover,
.stack2:hover,
.stack3:hover {
  transform: scale(1.2)  ;
  flex-direction: column;
}

.stack1:hover .rotate,
.stack2:hover .rotate,
.stack3:hover .rotate {
  transform: rotate(0deg);
  position: absolute;
  top: -60px;
}


.border-title {
  border-bottom: 1px solid white;
  position: relative;
  display: inline-block;
  padding: 4px;
}





.skill-list {
  margin-top: 30px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skill-list p {
  display: flex;
  gap: 10px;
  align-items: center;
}



@media (max-width: 800px) {
.wrapper-three {
    height: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .wrapper-three h1 {
    font-size: 45px;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 1em;

  }

  .skills-desc {
    flex-direction: column;
    gap: 50px;
    
  }

  .rotate {
    transform: none;
  }

  .stack1:hover,
  .stack2:hover,
  .stack3:hover {
    transform: none;
  }
  .stack1:hover .rotate,
  .stack2:hover .rotate,
  .stack3:hover .rotate {
    transform: none;
    position: relative;
    top: 0;
  }

  .stack1,
  .stack2,
  .stack3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    transition: none;
  }


  .border-title {
    border-bottom: solid 1px white;
    padding: 10px;
  }


  .skill-list {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .skill-list p {
    display: flex;
    gap: 10px;
    align-items: center;
  }
}


@media (max-width: 350px) {
  .container h1 {
    font-size: 35px;
  }
}


@media (min-width: 800px) and (max-width: 1600px) {
  .skills-desc {
    gap: 25px;
  }
}