html,
body {
  min-height: 100%;
  /* Use percentage height for compatibility */
  margin: 0;
  padding: 0;
}

.App {
  background-color: #a73d3d;
  background-image: url("./assets/images/background2.png");
  background-size: cover;
  background-attachment: fixed;
  height: auto;
  min-height: 100vh;
  min-width: 100vw;

}