html,
body {
  min-height: 100%;
  /* Use percentage height for compatibility */
  margin: 0;
  padding: 0;
}

.App {
  background-color: #a73d3d;
  background-image: url("./assets/images/BACKGROUND.png");
  background-repeat: no-repeat;
  height: 100%;

  min-height: 100vh;

}